<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::Eventure::</title>
</head>
<body style="margin:0; background:#ccc; font-size:14px; font-family:Georgia, 'Times New Roman', Times, serif; padding:0;">
<table width="690" cellpadding="0" cellspacing="0" style="margin:0 auto; font-size:14px; background:#fff; padding:20px 47px;  text-align:center;">
	<tr>
    	<td style="padding-top:10px; padding-bottom:30px; border-bottom:2px solid #000;">
        	<a href="javascript:void(0);"><img src="http://www.junkstr.com/content/images/lots/large/1233.jpg" /></a>
     	</td>
    </tr>
    <tr>
    	 <td>
       		<img style="margin-top:40px " src="img/sad.png" />
            <p style="font-size:30px; color:#282828;  margin: 20px auto 20px; width: 90%;"> 
            	Bye Ryan M. Fuller
            </p>
        </td>
    </tr>
    <tr>
    	<td style="text-align:left; height:250px; vertical-align:top;">
        	<p style="color:#282828; text-align:left; margin-bottom:20px;">
            	We are writing because we have suspended your Member account due to the violations of our 
                <a style="color:#1f8ec2; text-decoration:none;" href="javascript:void(0);">Community Guidelines.</a></p>
             <p style="color:#2c2c2c; text-align:left; margin-bottom:20px;">Compaint(s): <b>Spam</b></p>
             
            <p style="color:#2c2c2c; text-align:left; margin-bottom:20px;">
            	We are glad to consider an appeal to this suspension, so please email us at 	
				<a href="javascript:void(0);" style="color:#1f8ec2; text-decoration:none;">appeals@eventure.com</a> to provide us with some context as to why several members would 
				report your activities.
			</p>   
        	<p style="font-size:14px; line-height:19px; color:#282828;"> 
             	Thanks, Eventure Team
            </p>   
        </td>
    </tr>
    <tr>
    	<td style="border-top:1px solid #cfcfcf; padding:25px 0px; border-bottom:1px solid #cfcfcf;">
        	<p style="width:auto; font-size:16px; display:inline-block; margin-right:30px;"> Get the App </p>
            <a href="javascript:void(0);" style="background:url(img/google-play.png) no-repeat; padding:14px 92px; margin-right:40px;"></a>
            <a href="javascript:void(0);" style="background:url(img/app-store.png) no-repeat; padding:14px 80px;"></a>
        </td>
    </tr>
    <tr>
    	<td style="padding:25px; border-bottom:1px solid #cfcfcf;">
        	<p style="width:auto; font-size:16px; display:inline-block; vertical-align:top;">Stay connected with Eventure on</p>
           	<a href="javascript:void(0);" style="background:url(img/camera.png) no-repeat; padding:25px; margin-left:20px; display:inline-block;"></a>
            <a href="javascript:void(0);" style="background:url(img/facebook.png) no-repeat; padding:25px; margin-left:20px; display:inline-block;"></a>
            <a href="javascript:void(0);" style="background:url(img/twitter.png) no-repeat; padding:25px; margin-left:20px; display:inline-block;"></a>
        </td>
    </tr>
    <tr>
    	<td style="padding-top:40px; height:400px; vertical-align:top; font-size:13px; font-style:italic;"> 
        	<p style="margin:0px;">If you are not a member of Eventure, please 
            <a style="text-decoration:none; color:#1f8ec2;" href="javascript:void(0);">click here </a>to register. </p>
            <p style="margin-top:5px;">If you believe you have received this message in erorr, please 
            <a  href="javascript:void(0);" style="text-decoration:none; color:#1f8ec2;">click here </a>to let us know. </p>
            <p style="margin-top:30px;">© 2014 Eventure Interactive, Inc.</p>
        </td>
    </tr>
    
</table>
</body>
</html>