extends layout

block content
   section.page-wrapper
     div.container
       div.row
         h3.lotsent Lot sent
       p.par= user.full_name
           , a lot will be online soon. We will notify you by email when this happens so the jerky eye.
       a(href="/") Back to Homepage
