#mapper{
    min-width:32px;
    min-height:32px;
    z-index:1000;
    position:absolute;
    top:0;
    display:none;
}
.main {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    height: auto;
    min-height: 400px;
}

#planetmap div{

    display:block;
    
}

#main_panel{
    margin: auto;
    padding: 10px;
    width: 1000px;
}
.search-txct
{
    width: auto;
    display: inline-block;
    margin-top: 18px;
    position: relative;
}
.search-txct input{
    padding-left: 30px;
}
.search-cls {
    position: absolute;
    left: 10px;
    top: 21px;
}

#form_panel{
   display: none;
/*            min-height: 150px;
    min-width: 200px;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #FFFFFF;*/
}

#form_panel input,textarea{
    padding:3px;
    background:#FFF;
    border:1px solid #CFCFCF;
    color:#000;
}

#image_panel{
    width:600px;
    position:relative;
}
#image_panel img{
    left:0;top:-102px;
    max-width: 600px;
    overflow: hidden;

}

#form_panel .label{
    float:left;
    width:80px;
    padding:5px;
}

#form_panel .field{
    float:left;
    width:200px;
    padding:5px;
}

#form_panel .row{
    clear:both;
}

.tagged_title{
    color: #777;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    display: block !important;
    left: 57px;
}
.tagged_title span{
    color: #135DA5;
}
.image-preview .tagged_price span, p {
    /*float: left;*/
}
.tagged_price  {
    display: block;
    left: 60px;
}
#zone p {
    float: none;
}
.tagged_dec {
    display: block;
}
.tagged {
    background: url("../img/tag_img.png") repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    position: absolute;
}
.tagged-cont {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 96px;
    display: none;
    padding: 10px 15px;
    top: 36px;
    width: 200px;
    border-radius:5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    color: #777777;
}

#tag_png{
    height: 32px;
    position: absolute;
    top: 0 !important;
}

#info_panel{
    padding:10px;
    margin:20px 0;
    background:#eee;
}

#popOverBox label {
    float: left;
    width: 100%;
}
#popOverBox .checkbox-inline {
    width: 22%;
}
#popOverBox .form-group {
    margin-bottom: 2px;
}
#popOverBox .price{
    width: 150px;
    float: left;
}
#popOverBox input , textarea {
    float: left;
}
#popOverBox  #add-title , #popOverBox  #edit-title {
 margin: 10px 0;
}
#imageMap {
    max-width: 1140px;
    height: 800px;

}

/*.image-preview .tagged_price span, p {
    margin-bottom: 0;
}

.desc-box {
    float: right;
    width: 120px;
}*/
.navbar-static-top  {
    z-index: 1115;
}
.tagged_title > span {
    float: left;
}
.tagged-cont {
    font-size: 12px;
}
.tagged-cont span {
  color: #135DA5;
  font-weight: bold;
}
.tagged_dec > span {
    float: left;
}
.msg {
  left: 27%;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 60%;
    z-index: 99;
}
.msg .error {
    width: 72% !important;
}
.par {
    float: none;
}
.img_box img {
    height: 310px;
    width: 100%;
}
.img-link-inner p {
 float: none;
}
.img-link-inner img {
  height: 50px;
  height: 50px;
}
.tagged-cont p {
    float: left;
}
.tagged-cont span {
    float: left;
}
.icon-junkstr-tag {
    background: url("../img/tag_img.png") no-repeat scroll 0 0 / cover;
    height: 28px;
    position: absolute;
    width: 28px;
}
body .search-input-show
{
 left: 177px;
    position: absolute !important;
    top: 14px;
 display:none;
}
.search-input-show input {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 5px 22px 5px 28px;
    width: 200px;
}
 .close-search {
    padding: 0 !important;
    position: absolute !important;
    right: 6px;
    top: 8px;
}
.search-icon {
    left: 13px;
    padding: 0 !important;
    position: absolute !important;
    top: 6px;
}
.search-td
{
    margin-right: 4px;
}
.hdng-dtl
{
    width: 25%;
    display: inline-block;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    position: relative;;
    top: 4px;
}
.tagged_img
{
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.tagged_img img
{
    height: 42px;
}
.tag-int
{
    width: 124px;
    margin-left: 4px;
    display: inline-block;
}
.tag-int .tagged_title
{
    float: left;
    width: 100%;
    padding: 0px;
}
.tag-int .tagged_title p, .tag-int .tagged_price p
{
    margin: 0px;
}
.icon-junkstr-tag .tagged-cont {
   left: 2px;
   position: relative;
   top: 30px;
}
.tagged_title p
{
    margin-left: 5px;
    overflow: hidden;
    margin-bottom: 8px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88px;
    text-align: left;
}
.tagged_dec p
{
    display: inline-block;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88px;
    text-align: left;
}
.fb-lgn a:hover, .fb-lgn a:focus, .fb-lgn a:active
{
    color:#fff;
}